<div>
  <strong>Current Products</strong>
    {{#each products}}
        <div class= "products">
          <p>Name:{{name}}<br>Inventory: {{inventory}} <br> Id: {{id}} </p>
        </div>
    {{/each}}
</div>