<input type="submit" value="New Article"
    onclick="window.location='/articles/new';" />
<br>
<br>
<div>
    {{#each articles}}
        <div class= "articles">
          <strong>Title:{{title}} <br> author:{{author}}</strong>
          <p>{{body}}</p>
        </div>
    {{/each}}
</div>
