<input type="submit" value="New Product"
    onclick="window.location='/products/new';" />
<br>
<br>
<div>
    {{#each products}}
        <div class= "products">
          <p>Name:{{name}}<br> price: {{price}}<br>Inventory: {{inventory}} <br> Id: {{id}} </p>
        </div>
    {{/each}}
</div>
